body {
  background-color: #19191b;
  margin: 0;
  padding: 0;
  color: white;
  width: 100%;
  height: 100%;
  font-family: "Nunito Sans", sans-serif;
}

.container {
  width: 90%;
  margin: auto;
  padding: 2% 0;
}

/* navbar styles start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_logo {
  width: 10%;
}

.navbar_list {
  display: flex;
  list-style-type: none;
  width: 30%;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  font-size: 18px;
}

.list_item > a {
  text-decoration: none;
  color: white;
  transition: 0.8s;
}

.list_item > a:hover {
  color: #5454D4;
  font-weight: 500;
  transition: 0.8s;
}

.navbar_input {
  width: 15%;
  height: 25px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid white;
}
.navbar__btn_burger {
  display: none;
}
/* navbar styles end */

/* header styles start */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.header_block_left {
  width: 40%;
}
.header_title_left {
  font-family: "Open Sans", sans-serif;
  font-size: 80px;
  margin-top: 15%;
  margin-bottom: 0;
  line-height: 1;
}
.header_desc_left {
  font-size: 21px;
  line-height: 2;
  opacity: 0.7;
}
.header_btn {
  width: 40%;
  height: 60px;
  background-color: #5454D4;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
}
.btn_icon {
  margin-left: 8px;
}
.header_block_right {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
}
.vector {
  position: absolute;
}
#vector_1 {
  left: -60px;
  top: 70px;
}
#vector_2 {
  right: 50px;
  top: 70px;
}
#vector_3 {
  left: -60px;
  bottom: 50px;
}
#vector_4 {
  bottom: 48px;
  right: 0px;
}
/* header styles end */

/* services block start */
.services {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services_title_main {
  font-size: 60px;
  font-weight: 700;
  font-family: "Open Sans" sans-serif;
  width: 60%;
  text-align: center;
  margin: 120px 0 50px;
}
.services_list {
  list-style-type: none;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services_item {
  width: 20%;
  margin: 0 5%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.services_title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 0;
}

.services_desc {
  font-size: 15px;
  opacity: 0.7;
}
/* services block end */

/* portfolio block start */
.portfolio_title {
  font-size: 58px;
  font-weight: 800;
}
.portfolio_list {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0;
}
.portfolio_item:nth-child(2){
  margin-top: 100px;
}
.portfolio_item:nth-child(3){
  margin-top: 200px;
}
.portfolio-icon {
  margin-left: 50%;
}
/* portfolio block end */

/* info-block start */
.info-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  align-items: center;
}
.info-block__title {
  font-size: 60px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  width: 70%;
}
.info-block__btn {
  background-color: #5454D4;
  color: #FFFF;
  border: none;
  border-radius: 4px;
  height: 60px;
  width: 16%;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
/* info-block end */

/* footer style start */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}
.footer-logo {
  height: 42px;
  width: 10%;
}
.footer__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 35%;
  opacity: 0.7;
}
.footer__info {
  opacity: 0.7;
}

/* footer style end */

/* burger-menu styles start */
.burger-menu {
  display: none;
}
/* burger-menu styles end */
